// Header Styles
.header-top {
  background-color: $blue-1;
  padding: 5px 0;
}

/**** Navigation ****/
.navbar {
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $blue-1;
      }

      &.active {
        .nav-link {
          color: $blue-2;
        }
      }
    }
  }
}
