{{#> layouts/default
  pageTitle="Handlebars Boilerplate"
  pageDescription="A simple and lightweight boilerplate to kick-off new static web projects."
}}

{{#*inline "content-block"}}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Handlebars Boilerplate
      </h1>
      <h2 class="subtitle">
        Rapidly create static websites.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Section</h1>
    <h2 class="subtitle">
      A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
    </h2>
  </div>
</section>

{{/inline}}

{{#*inline "scripts-block"}}
{{/inline}}

{{/layouts/default}}