<footer class="footer">
  <div class="content has-text-centered">
    <p>
      {{#each data.users}}
        <strong>Handlebars Boilerplate</strong> created by <a href="https://www.adamcjarvis.com">{{name}}</a>.
      {{/each}}
    </p>
  </div>
</footer>