<footer class="bg-dark text-light">
  <div class="bg-blue-1 py-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <h3>Opening Hours</h3>
        </div><!-- /.col -->
        <div class="col-12 col-md-4 text-center">
          insert tagline
        </div><!-- /.col -->
        <div class="col-12 col-md-4 text-right">
          <h3>Contact Us</h3>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
  </div>

  <div class="bg-blue-3 py-4 border-top border-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 text-center text-md-left">
          <small>2019 © Copyright All Rights Reserved.</small>
        </div><!-- /.col -->
        <div class="col-12 col-md-4 text-center">
          
        </div><!-- /.col -->
        <div class="col-12 col-md-4 text-center text-md-right">
          <small>Website by Adam Jarvis</small>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
  </div>
</footer>