<footer class="bg-dark text-light">
  <div class="bg-blue-0 py-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <h3>Opening Hours</h3>
          <table>
            <tr>
              <td class="pr-4">Monday - Friday:</td>
              <td>9am - 5pm</td>
            </tr>
            <tr>
              <td>Saturday:</td>
              <td>Seasonally</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>Closed</td>
            </tr>

          </table>
        </div><!-- /.col -->
        <div class="col-12 col-md-4 text-center">
          insert tagline
        </div><!-- /.col -->
        <div class="col-12 col-md-4 text-right">
          <h3>Contact Us</h3>
          <ul class="list-unstyled">
            <li>123 Main Street</li>
            <li>Anywhere, USA</li>
            <li class="mt-3">info[at]anywhere.usa</li>
            <li>(555) 555-5555</li>
          </ul>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
  </div>

  <div class="bg-blue-2 py-4 border-top border-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 text-center text-md-left">
          <small>2019 © Copyright All Rights Reserved.</small>
        </div><!-- /.col -->
        <div class="col-12 col-md-4 text-center">
          
        </div><!-- /.col -->
        <div class="col-12 col-md-4 text-center text-md-right">
          <small>Website by Adam Jarvis</small>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
  </div>
</footer>