/**** Override Bootstrap ****/
$grid-columns:      12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px
);

/**** Import Bootstrap ****/
@import "bootstrap/bootstrap";

/**** Custom Colors ****/
$blue-1: #0881A8;
$blue-2: #00567D;
$blue-3: #014864;

$green-1: #76BC21;

/**** Import Custom ****/
@import "base/base";
@import "components/*";
@import "pages/**/*";
